* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: ThemysciranRegular;
    src: url(../font/ThemysciranRegular.ttf);
}

@font-face {
    font-family: comic;
    src: url(../font/comic.ttf);
}

body {
    /*background-image: linear-gradient(to bottom, white, black);*/
    background-image: url(https://c.wallhere.com/photos/10/c7/1920x1080_px_Aquaman_Batman_comics_DC_Comics_Green_Lantern_Justice_League_superman-738275.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    backdrop-filter: blur(5px)
}

section {
    padding-top: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

section h1 {
    font-family: ThemysciranRegular;
}

.mesa {
    display: flex;
    justify-content: space-around;
    width: 60%;
    min-width: 500px;
    height: 100%;
    min-height: 650px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
}

.card {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 200px;
    height: 300px;
}

.card:active {
    transform: rotateY(180deg);
}

.cardB, .cardF {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    border: black 8px solid;
    width: 200px;
    height: 300px;
    transition: 500ms;
    backface-visibility: hidden;
}

.cardF {
    transition: 0s;
    display: grid;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

/*.cardB:hover, .cardF:hover {
    transform: scale(1.1);
    box-shadow: black 0px 1px 10px;
}*/

.cardB img {
    width: 100px;
}

.cardF img {
    width: 180px;
}

#acertos {
    margin-top: -10px;
}

#parabens {
    position: fixed;
    left: 15%;
    right: 15%;
    top: 35%;
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    border-radius: 20px;
    background-color: white;
    border: black solid 5px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#parabens h1 {
    font-family: comic;
    font-size: 40px;
}

#parabens p {
    font-family: comic;
}

#parabens button {
    margin-top: 10px;
    background-color: white;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
}

#parabens img {
    height: 200px;
    width: auto;
}